<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Theme examples</title>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

      <link href="../resources/assets/css/output2.css" rel="stylesheet" />
      <script src="../resources/assets/js/vue2.js"></script>

   </head>
   <body class=" bg-light-gray dark:bg-darker">
      <div class="v-screen h-screen " id="app">
         
          <div class="gap"></div>

         <div class="default-container">
            <header1>
            Themes
            </header1>
            <div class="row">
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px] space-x-2">
                     <button-component variant="outline">
                        Button
                     </button-component>
                     <button-component variant="primary">
                        Primary
                     </button-component>
                     <button-component variant="secondary">
                        Filled
                     </button-component>

                  </div>

               </div>
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     <div>

                        <label-component>
                           Title
                        </label-component>
                        <description>
                        Your main title
                        </description>
                        <input-component placeholder="Start typing...">
                        </input-component>
                     </div>
                  </div>

               </div>
            </div>

            <div class="row">
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     
                     <tabs style="width:80%;">
                     <tab-item title="Home">
                        <div class="p-2 mt-4">
                           <paragraph>
                           Information at a top level
                           </paragraph>

                        </div>
                     </tab-item>
                     <tab-item title="Features">
                        <div class="p-2 mt-4">
                           <paragraph>
                           A list of available features with your
                           current plan

                           </paragraph>
                        </div>
                     </tab-item>
                     </tabs>

                  </div>

               </div>
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     <div class="panel h-e v-a" style="width:80%;">
                        <div>

                           <label for="airplane-mode" class="text-dark">Communication Emails</label>
                           <description>Receive emails about your account activity</description>
                        </div>
                        <switch-ios name="a" value="checked" id="airplane-mode" ></switch-ios>

                     </div>
                  </div>

               </div>
            </div>


            <div class="row">
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     <div>
                        <label-component>
                           Datepicker
                        </label-component>
                        <datepicker  name="mydate" class="mt-4"></datepicker>
                     </div>
                  </div>

               </div>
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     <div class="h-e v-a" style="width:60%;">
                        <div class="img-center">
                           <label for="radios" class="text-dark">Shipping</label>
                           <radio-component v-model="selectedRadioOptions" :options="options">
                           </radio-component>
                        </div>
                     </div>
                  </div>

               </div>
            </div>

            <div class="row">
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     
                     <tooltip>
                     <tooltip-trigger class="btn-white">
                        Tooltip
                     </tooltip-trigger>
                     <tooltip-content>
                        Add to library
                     </tooltip-content>
                     </tooltip>
                     

                  </div>

               </div>
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     <div class="h-e v-a overflow-auto" style="width:70%;">
                        <breadcrumb class="img-center">
                        <breadcrumb-item title="Home"></breadcrumb-item>
                        <breadcrumb-separator></breadcrumb-separator>
                        <breadcrumb-item title="Components"></breadcrumb-item>
                        <breadcrumb-separator></breadcrumb-separator>
                        <breadcrumb-item title="Breadcrumb" url="test"></breadcrumb-item>
                        </breadcrumb>
                     </div>
                  </div>

               </div>
            </div>

            <div class="row">
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px] space-x-2">
                     
                     <badge variant="primary">Profile</badge>
                     <badge variant="outline">Account</badge>
                     <badge variant="secondary">Billing</badge>
                     

                  </div>

               </div>
               <div class="col-6">
                  <div class="panel v-a h-a min-h-[300px]">
                     <div class="h-e v-a" style="width:80%;">
                        <div class="img-center">
                        <label-component>Role</label-component>
                        <checkbox-component v-model="selectedOptions" :options="options">
                        </checkbox-component>
                        </div>
                     </div>
                  </div>

               </div>
            </div>

            


         </div>
         <div class="gap"></div>
      </div>
      <!-- Click out must go before all other scripts -->
      <script src="../resources/assets/js/click-outside.js"></script>
      <script src="../resources/assets/js/focus-trap.js"></script>
      <script src="../resources/assets/js/buttons.js"></script>
      <script src="../resources/assets/js/badges.js"></script>
      <script src="../resources/assets/js/dark-mode.js"></script>
      <script src="../resources/assets/js/forms.js"></script>
      <script src="../resources/assets/js/tabs.js"></script>
      <script src="../resources/assets/js/breadcrumbs.js"></script>
      <script src="../resources/assets/js/switch.js"></script>
      <script src="../resources/assets/js/datepicker.js"></script>
      <script src="../resources/assets/js/tooltip.js"></script>
      <script>
         var app = new Vue({
             el: '#app',
            data:{
               foo:'test',
               textarea:'hello',
               boo:'',
               options: ['Option 1', 'Option 2', 'Option 3'], // array of options
               selectedOptions: [], // initial value
               selectedRadioOptions: '' // initial value
            }
         })
      </script>
      
   </body>
</html>

